* {
    margin: 3px;
    padding: 0;
}

ul {
    list-style-type: none;
    width: 600px;
}

h3 {
    font: bold 20px/1.5 Helvetica sans-serif;
}

h2 {
    font: bold 30px/1.5 Helvetica sans-serif;
    color: goldenrod;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font: xx-large Helvetica;
    color: black;
}

li img {
    float: left;
    margin: 0 5% 0 0;
}

li p {
    font: 200 15px/1.5 Roboto, serif;
}

li {
    padding: 25px;
    overflow: auto;
}

li:hover {
    background: #fff;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    color: darkslategray;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    color: darkslategray;
}

a:active {
    text-decoration: underline;
    font-weight: bold;
    background-color: #fff;
    color: darkslategray;
}

#nav-bar {
    background: #fff;
    background-color: #fff;
    cursor: auto;
    color: red;
}

a.btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;
}

a.btn:hover {
    color: #FFF;
    background-color: #000;
}

.album-art {
    margin-top: 50px;
    float: right;
    height: 333px;
    width: 333px;
    clear: both;
}

.album-details {
    text-align: left;
    font-size: 20px;
}

.reviews {
    clear: both;
}